<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p><small>&copy; 2024 富大 LIFE All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</footer>